
<% if user_signed_in? %>
<div>
    <h1> Welcome back, <%= @user.first_name %>! </h1>

    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

    <%= link_to 'Edit Profile', edit_user_path(@user) %>
    <%= link_to 'Delete Account', edit_user_path(@user) %>
</div>
<h2>
    <%= link_to 'Cars', cars_path %>
</h2>

<h2>
    <%= link_to 'Park', new_parking_path %>
</h2>

<h2>
    Pakings
</h2>
<h3>
    <% @parking.each do |p| %>
        <p>
            <%= p.address %>
        </p>

        <p>
            <%= p.car_id %>
        </p>

        <p>
            <%= p.car_id %>
        </p>
    <% end %>
</h3>

<% end %>